{% extends 'auth/base.html' %}
{% block title %} Podcasts Change Password {% endblock %}
{% block content %}

<form class="form-signin" id="changePasswordFormID" method="post" action="{{ url('change_password') }}" >
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Enter new password{% endtrans %}</h1>
    <input type="email" class="form-control" value="{{ email }}" disabled="">
    <input type="password" name="password_1" id="inputPassword_1" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required="" autofocus="">
    <input type="password" name="password_2" id="inputPassword_2" class="form-control" placeholder="{% trans %}Repeat password{% endtrans %}" required="">
    <input type="hidden" name="token" id="token" class="form-control" value="{{ token }}">
    <button class="btn btn-lg btn-info btn-block" type="submit">{% trans %}Update Password{% endtrans %}</button>
    or <a href="{{ url('sign_in') }}" >{% trans %}sign-in{% endtrans %}</a>
</form>

{% endblock %}
