{% extends 'auth/base.html' %}
{% block title %} Podcasts Login {% endblock %}
{% block content %}

<form class="form-signin" method="post" action="{{ url('sign_in') }}" >
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
    <input type="text" name="email" id="email" class="form-control" placeholder="{% trans %}Email{% endtrans %}" required="" autofocus="">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Sign In{% endtrans %}</button>
    or <a href="{{ url('sign_up') }}" >{% trans %}sign-up{% endtrans %}</a>
</form>

{% endblock %}
