{% extends 'auth/base.html' %}
{% block title %} Podcasts Registration {% endblock %}
{% block content %}

<form class="form-signin" id="signupFormID" method="post" action="{{ url('sign_up') }}" >
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign Up{% endtrans %}</h1>
    <input type="email" name="email" id="email" value="{{ email }}" class="form-control" placeholder="{% trans %}Email{% endtrans %}" required="" autofocus="">
    <input type="password" name="password_1" id="inputPassword1" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required="">
    <input type="password" name="password_2" id="inputPassword2" class="form-control" placeholder="{% trans %}Repeat password{% endtrans %}" required="">
    <input type="hidden" name="token" id="inviteToken" class="form-control" value="{{ token }}">
    <button class="btn btn-lg btn-info btn-block" type="submit">{% trans %}Sign Up{% endtrans %}</button>
    or <a href="{{ url('sign_in') }}" >{% trans %}sign-in{% endtrans %}</a>
</form>

{% endblock %}
